<div class="main">
    <div class="form-container">
        <form (ngSubmit)="save(f)"
        #f="ngForm">
            <h1>LOGIN</h1>
            
              <input type="email" class="form-control uno" id="exampleInputEmail" aria-describedby="emailHelp"
              placeholder="Usuario"
              [(ngModel)]="developer.mail"
              name="email">
                           
              <input type="password" class="form-control dos" id="exampleInputPassword1"
              placeholder="Contraseña"
              [(ngModel)]="developer.password"
              name="password">

            <button type="submit" class="">Ingresar</button>
        </form>
    </div>
</div>

